<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-left: 300px;">Логотип</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
    style="
        margin-left: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        font-size: 20px;
      ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('base.home') }}">Дім</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 20px;" href="{{ url_for('vacancies.categories_show') }}">Категорії</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 20px;" href="{{ url_for('author.about') }}">Автор</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="position: absolute; left: 870px; bottom: -14px;"
             href="#" id="navbarDropdownMenuLink"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img style="height: 50px; width: 50px;"
                 src="{{ url_for('static', filename='img/user-logo.png') }}" alt="Icon user"></a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
              style="position: absolute; left: 870px; bottom: -14px;">
            {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="{{ url_for('auth.profile') }}">Профіль</a></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Вийти</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Вхід</a></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.sign_up') }}">Зареєструватися</a></li>
            {% endif %}
          </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>
