{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
    <div class="p-5 text-center">
        <div class="mask" style="background-color: #f8f9fa;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3" style="color: grey; font-size: 65px;">Profile</h1>
                <h1 class="mb-3" style="color: grey; font-size: 35px;">{{ user.email }}</h1>
                <button style="font-weight: 700;
                      color: white;
                      text-decoration: none;
                      padding: .8em 1em calc(.8em + 3px);
                      border-radius: 3px;
                      background: rgb(64,199,129);
                      box-shadow: 0 -3px rgb(53,167,110) inset;
                      transition: 0.2s;;">
                    <a style="text-decoration: none;" href="{{ url_for('vacancies.vacancy_create') }}">Create</a></button>
                {% for vac in exists_vacancies|reverse %}
                    <div class="card" style="margin-top: 15px">
                        <div class="card-body">
                            <div class="card-body" style="margin: 20px">
                                <a class="vac-title" style="text-decoration: none; font-size: 20px;"
                                   href="{{ url_for('vacancies.vacancy_detail', vacancy_slug=vac.slug) }}">{{ vac.name }}</a>
                                <button class="deleteMe" style="background: red; margin-left: 30px;
                                color: #fff; border-radius: 3px;
                                font-size: 18px; line-height: 1;">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
