{% extends 'base.html' %}
{% block title %}Vacancy Form{% endblock %}
{% block content %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="mb-3">
            <label for="titleFormControlInput" class="form-label">Vacancy name</label>
            <input type="text" name="name" class="form-control" id="titleFormControlInput">
        </div>

        <div class="mb-3">
            <label for="salaryFormControlTextarea" class="form-label">Salary $</label>
            <input type="number" name="salary" class="form-control" id="salaryFormControlTextarea">
        </div>

        <div class="mb-3">
            <label for="aboutFormControlTextarea" class="form-label">About vacancy</label>
            <textarea class="form-control" name="about" id="aboutFormControlTextarea" rows="4"></textarea>
        </div>

        <div class="mb-3">
            <label for="contactFormControlTextarea" class="form-label">Contact information</label>
            <textarea class="form-control" name="contacts" id="contactFormControlTextarea" rows="4"></textarea>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="flexCheckDefault">Notify about view contacts</label>
          <input class="form-check-input" name="notify" type="checkbox" id="flexCheckDefault">
        </div>

        <select name="category" class="form-select" aria-label="Default select example">
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <button style="margin-top: 30px;" type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}