{% extends 'base.html' %}
{% block title %}Vacancies{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
    <h1 class="categories-title">Vacancies</h1>
    {% for vac in category_vacancies.vacancies %}
        <div class="card">
          <h5 class="card-header">{{ vac.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">Salary: {{ vac.salary }}</h5>
            <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ vac.info }}</p>
            <a href="{{ url_for('vacancies.vacancy_detail', vacancy_slug=vac.slug) }}" class="btn btn-primary">Go</a>
          </div>
        </div>
    {% endfor %}
    <div class="card">
        <article class="card-group-item">
            <header class="card-header"><h6 class="title">Average salary</h6></header>
            <div class="filter-content">
                <div class="card-body">
                    <label class="btn btn-danger">
                      <input class="" type="checkbox" name="myradio" value="">
                      <span class="form-check-label">Red</span>
                    </label>
                    <label class="btn btn-success">
                      <input class="" type="checkbox" name="myradio" value="">
                      <span class="form-check-label">Green</span>
                    </label>
                    <label class="btn btn-primary">
                      <input class="" type="checkbox" name="myradio" value="">
                      <span class="form-check-label">Blue</span>
                    </label>
                </div>
            </div>
        </article>
    </div>
{% endblock %}